<footer class="au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
    <div id="back-to-top" class="transition-medium hidden-print"><a href="#top">Back to Top</a></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-centered" id="dta-initiative">
                <a href="https://www.dta.gov.au/"><img src="/assets/images/dta-wordmark-white.png" alt="An initiative of the Digital Transformation Agency"></a>
            </div>
            <div class="col-sm-10">
                <nav aria-label="footer">
                    <ul class="au-link-list au-link-list--inline">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </nav>
                <div class="au-footer__end">
                    <p>&copy; Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/designsystem.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/assets/js/scrollspy.min.js"></script>
<script type="text/javascript" src="/assets/js/affix.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
</body>
</html>
