{%- assign excerpt = page.content | markdownify | strip_html | normalize_whitespace | truncatewords: 40 | escape -%}
{% if page.excerpt %}
{% assign excerpt = page.excerpt | strip_html | normalize_whitespace | escape %}
{% endif -%}
<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" class="no-js">
<head>
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif -%}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{{ excerpt }}">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/assets/images/favicons/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
<meta property="og:image" content="https://desktop.gov.au/assets/images/dta-opengraph.png"/>
<meta property="og:title" content="{{ page.title | default: site.title | escape }}">
<meta property="og:description" content="{{ excerpt }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
</head>
{%- assign extra_body_class = "" %}
{% if page.layout == 'home' %}
    {% assign extra_body_class = " home" | append: extra_body_class %}
{% elsif page.body_class %}
    {% assign extra_body_class = " " | append: page.body_class | append: extra_body_class %}
{% endif -%}
<body class="au-grid{{ extra_body_class }}" data-spy="scroll" data-target="#toc-container">
<nav class="au-skip-link">
    <a class="au-skip-link__link" href="#content">Skip to main content</a>
    <a class="au-skip-link__link" href="#mainmenu">Skip to main navigation</a>
</nav>

<header class="au-header au-header--dark" role="banner">
    <div class="container">
        <div class="row">
            <div class="logo col-md-8">
                <a href="{{ site.url }}/">
                    <img class="hidden-print" alt="Australian Government Digital Transformation Agency logo" src="/assets/images/dta.svg" data-fallback="/assets/images/dta-300.png">
                    <h1>{{ site.title }}</h1>
                </a>
            </div>
            <div class="col-md-4">
                <form id="site-search" role="search" aria-label="sitewide" class="au-search au-search--dark au-search--icon">    
                    <label for="keywords" class="au-search__label">Search this website</label>
                    <input type="search" placeholder="Search this site" id="keywords" name="search" autocomplete="off" class="au-text-input au-text-input--dark">
                    <div class="au-search__btn">
                        <button class="au-btn au-btn--dark" type="submit"><span class="au-search__submit-btn-text">Search</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include main-navigation.html %}
</header>
