<nav class="au-main-nav au-main-nav--dark hidden-print" aria-label="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="main-nav-default" class="au-main-nav__content">
                    <button
                        aria-controls="main-nav-default"
                        class="au-main-nav__toggle au-main-nav__toggle--open"
                        onClick="return AU.mainNav.Toggle( this )">
                        Menu
                    </button>
                    <div class="au-main-nav__menu">
                        <div class="au-main-nav__menu-inner">
                            <div class="au-main-nav__focus-trap-top"></div>
                            <button
                                aria-controls="main-nav-default"
                                class="au-main-nav__toggle au-main-nav__toggle--close"
                                onClick="return AU.mainNav.Toggle( this )">
                                Close
                            </button>
                            <ul class="au-link-list">
                                <li{% if page.url == "/" %} class="active"{% endif %}><a href="/">Home</a></li>
                                {% for item in site.data.main-navigation %}
                                    {%- assign css_class = "" -%}
                                    {%- if page.dir == "/" and item.url == page.url %}
                                        {% assign css_class = "active" | append: css_class %}
                                    {% elsif page.dir != "/" and item.url contains page.dir %}
                                        {% assign css_class = "active" | append: css_class %}
                                    {% endif -%}
                                    {% if item.right %}
                                        {% assign css_class = "right-aligned " | append: css_class %}
                                    {% endif -%}
                                <li class="{{ css_class }}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                            <div class="au-main-nav__focus-trap-bottom"></div>
                        </div>
                    </div>
                    <div
                        class="au-main-nav__overlay"
                        aria-controls="main-nav-default"
                        onClick="return AU.mainNav.Toggle( this )">
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
