#back-to-top {
    display: none;
}

/* sm */
@media (min-width: 768px) {
    #back-to-top {
        display: block;
        position: fixed;
        right: 30px;
        bottom: 3em;
        font-size: 0.85em;
        visibility: hidden;
        opacity: 0;
        z-index: 100;
        border: 1px solid rgba(0,0,0,0);
        text-align: center;
        padding: 5px 10px;

        &:hover {
            border: 1px solid #ccc;
        }
        &.visible {
            visibility: visible;
            opacity: 1;
        }
        a {
            color: #999;
            text-decoration: none;
            outline: none;
        }
        i {
            font-size: 0.85em;
            margin-right: 4px;
        }
    }
}