#search-results {
    background: rgba(255, 255, 255, 0.99);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow-y: scroll;

    #close-search {
        float: right;
        font-size: 2em;
        margin-top: 1em;
        cursor: pointer;

        &:hover {
            color: blue;
        }
    }


    ul {
        padding-left: 0;
        padding-bottom: 2em;
        list-style: none;

        li {
            margin-top: 2em;

            em.ais-Highlight {
                background: yellow;
                font-weight: bold;
                font-style: normal;
            }
        }
    }
}