{% if page.path != 'index.md' %}
<section class="feedback au-body text-centered">
    <p>Found an issue with the material above or have general feedback? Let us know over on <a href="https://github.com/govau/desktop.gov.au/issues">Github</a>.</p>
</section>
{% endif %}
<footer class="au-footer au-footer--dark au-body au-body--dark hidden-print" role="contentinfo">
    <div id="back-to-top" class="transition-medium hidden-print">
        <a href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"/>
                <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
            </svg>
            <br>
            Back to Top
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-centered" id="dta-initiative">
                <a href="https://www.dta.gov.au/"><img src="/assets/images/dta-wordmark-white.png" alt="An initiative of the Digital Transformation Agency"></a>
            </div>
            <div class="col-sm-10">
                <nav aria-label="footer">
                    <ul class="au-link-list au-link-list--inline">
                        <li><a href="mailto:protectedutility@dta.gov.au">Contact us</a></li>
                        <li><a href="https://www.dta.gov.au/our-privacy-policy">Privacy</a></li>
                        <li><a href="https://www.dta.gov.au/disclaimer-and-copyright">Disclaimer</a></li>
                        <li><a href="https://www.dta.gov.au/accessibility">Accessibility</a></li>
                    </ul>
                </nav>
                <div class="au-footer__end">
                    <p>&copy; Commonwealth of Australia. With the exception of the Commonwealth Coat of Arms and where otherwise noted, this work is licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="/assets/js/designsystem.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.tablesorter.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script>const search_client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_only_api_key }}'); const search_index = search_client.initIndex('{{ site.algolia.index_name }}');</script>
<script src="/assets/js/scripts.js"></script>
</body>
</html>