{% include header.html %}

<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {{ content }}
                    </div>
                    <div class="col-sm-6">
                        <iframe title="Introductory video of the Protected Utility Program" width="100%" height="315" src="https://www.youtube.com/embed/aZCCESafSzY?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-2 mb-3">
            <div class="row">
                <ul class="au-card-list au-card-list--matchheight">
                {% for feature in site.data.features %}
                <li class="col-sm-6 col-md-3 col-xs-12">
                    <div class="au-card au-card--shadow au-card--clickable">
                        <div class="au-card__inner">
                            <h2 class="au-card__title"><a href="{{ feature.url }}" class="au-card--clickable__link">{{ feature.name | textuaize }}</a></h2>
                            {{ feature.desc | markdownify }}
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div id="benefits">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mb-3"><h2>Benefits</h2></div>
                    {% for benefit in page.benefits %}
                    <div class="col-sm-6">
                        {{ benefit | markdownify }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if site.posts.size > 0 %}
        <div class="container mt-2 mb-3">
            <div class="row">
                <div class="col-sm-12"><h2>News</h2></div>
            </div>
            <div class="row">
                <ul class="au-card-list au-card-list--matchheight">
                
                {% for post in site.posts limit:3 %}
                <li class="col-sm-6 col-md-4 col-xs-12">
                    <div class="au-card au-card--shadow au-card--clickable">
                        <div class="au-card__inner">
                            <h3 class="au-card__title"><a href="{{ post.url }}" class="au-card--clickable__link">{{ post.title }}</a></h3>
                            <p>{{ post.date | date: '%d %B %Y' }}</p>
                            <p>{{ post.content | markdownify | strip_html | truncatewords: 40 }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </section>
</main>

{% include footer.html %}