{% assign menu = site.data.main-navigation -%}
{% if page.menu == 'abac' %}
{% assign menu = site.data.abac-navigation %}
{% elsif page.menu == 'security' %}
{% assign menu = site.data.security-navigation %}
{% endif -%}
{% include header.html %}
<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="container">
            <div class="row mt-2">
                <div class="col-12 d-flex">
                    <div id="lhs" class="hidden-print">
                        <aside class="au-side-nav au-accordion" aria-label="side navigation">
                            <button 
                                class="au-side-nav__toggle au-accordion__title au-accordion--closed" 
                                aria-controls="sidebar-nav-container"
                                aria-expanded="false"  
                                onclick="return AU.accordion.Toggle( this )"
                            >
                                In this section
                            </button>
                            <div id="sidebar-nav-container" class="au-side-nav__content au-accordion--closed au-accordion__body">
                                {% for item in menu %}
                                    {% if item.url contains page.dir or page.menu == 'abac' or page.menu == 'security' %}
                                    <ul class="au-link-list">
                                        <li class="sidenav-title {% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a>
                                            {% if item.url == page.url %}
                                            <nav class="navbar" id="toc-container">
                                                {% include toc.html class="nav.au-link-list" html=content %}
                                            </nav>
                                            {% endif %}
                                        </li>
                                        {% for subitem in item.subitems %}
                                        <li{% if subitem.url == page.url %} class="active"{% endif %}><a href="{{ subitem.url }}">{{ subitem.title }}</a>
                                            {% if subitem.url == page.url %}
                                            <nav class="navbar" id="toc-container">
                                                {% include toc.html class="nav.au-link-list" html=content %}
                                            </nav>
                                            {% endif %}
                                        </li>
                                        {% endfor %}
                                        {% if page.dir == '/patterns/' and page.url != page.dir %}
                                        <li class="active"><a href="{{ page.url }}">{{ page.title }}</a>
                                            <nav class="navbar" id="toc-container">
                                                {% include toc.html class="nav.au-link-list" html=content %}
                                            </nav>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </aside>
                    </div>
                    <div id="content-area">
                        <h1>{{ page.title }}</h1>
                        <div class="metadata">
                            <ul>
                                <li>{% include reading-time.html %}</li>
                                <li>{{ page.last_modified_at | date: '%-d %B %Y' }}</li>
                                {% if page.download %}{% assign filename = page.name | replace: '.md', '' %}<li>Download: <a href="/assets/files/{{ filename }}.docx">docx</a>, <a href="/assets/files/{{ filename }}.pdf">pdf</a></li>{% endif %}
                            </ul>
                        </div>
                        {{ content }}

                        {% if page.timeline %}
                        <div class="timeline mt-3">
                            {% for item in page.timeline %}
                            <div class="panel">
                                <div class="panel-title">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    {{ item.body | markdownify }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include footer.html %}