{% assign this_persona = false %}
{% for persona in site.data.personas %}
    {% if persona.title == page.title %}
        {% assign this_persona = persona %}
    {% endif %}
{% endfor %}
{% assign happy = '<svg width="32px" height="32px" viewBox="0 0 16 16" fill="#4caf50" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
    <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg>' %}
{% assign neutral = '<svg width="32px" height="32px" viewBox="0 0 16 16" fill="#ff9800" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z"/>
    <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg>' %}
{% assign sad = '<svg width="32px" height="32px" viewBox="0 0 16 16" fill="#f44336" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683z"/>
    <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg>' %}
{% include header.html %}

<main class="main" id="content" aria-label="Content">
    <section class="au-body">
        <div class="container">
            <div class="row mt-2">
                <div class="col-12 d-flex">
                    <div id="lhs" class="hidden-print">
                        <aside class="au-side-nav au-accordion" aria-label="side navigation">
                            <button 
                                class="au-side-nav__toggle au-accordion__title au-accordion--closed" 
                                aria-controls="sidebar-nav-container"
                                aria-expanded="false"  
                                onclick="return AU.accordion.Toggle( this )"
                            >
                                In this section
                            </button>
                            <div id="sidebar-nav-container" class="au-side-nav__content au-accordion--closed au-accordion__body">
                                {% for item in site.data.main-navigation %}
                                    {% if item.url contains page.dir %}

                                    <ul class="au-link-list">
                                        <li class="sidenav-title {% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a>
                                            {% if item.url == page.url %}
                                            <nav class="navbar" id="toc-container">
                                                {% include toc.html class="nav.au-link-list" html=content %}
                                            </nav>
                                            {% endif %}
                                        </li>
                                        {% for subitem in item.subitems %}
                                        <li{% if subitem.url == page.url %} class="active"{% endif %}><a href="{{ subitem.url }}">{{ subitem.title }}</a>
                                    
                                            {% if subitem.url == page.url %}
                                            <nav class="navbar" id="toc-container">
                                                {% include toc.html class="nav.au-link-list" html=content %}
                                            </nav>
                                            {% endif %}
                                    
                                        </li>
                                        {% endfor %}
                                    </ul>

                                    {% endif %}
                                {% endfor %}
                            </div>
                        </aside>
                    </div>
                    <div id="content-area">
                        <h1>{{ page.title }}</h1>
                        <div class="metadata">
                            <ul>
                                <li>{{ page.last_modified_at | date: '%-d %B %Y' }}</li>
                            </ul>
                        </div>
                        <div id="personal-profile" class="col-md-4">
                            <ul class="au-card-list au-card-list--matchheight">
                                <li class="col-xs-12">
                                    <div class="au-card au-card--shadow">
                                        <img class="au-responsive-media-img" src="{{ this_persona.img }}">
                                        <div class="au-card__inner">
                                            {{ this_persona.desc | markdownify }}
                                            <p><strong>Internet connection</strong><br>{{ this_persona.internet }}</p>
                                            <p><strong>Devices</strong><br>{{ this_persona.devices }}</p>
                                            <p><strong>Cyber knowledge</strong><br>{{ this_persona.cyber }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {{ content }}
                        <div class="timeline mt-3">
                            {% for item in page.timeline %}
                            <div class="panel">
                                <div class="panel-title">
                                    <h3>{{ item.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="container-fuild">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h4>Actions / tasks</h4>
                                                {{ item.actions | markdownify }}
                                                <h4>Pain points</h4>
                                                {{ item.pain_points | markdownify }}
                                            </div>
                                            <div class="col-xs-6">
                                                <h4>Interactions / tools</h4>
                                                {{ item.tools | markdownify }}
                                                <h4>Feeling</h4>
                                                {{ item.feeling | replace: ':)', happy | replace: ':|', neutral | replace: ':(', sad | markdownify | replace: '<ul>', '<ul class="feeling">' }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</main>

{% include footer.html %}